Repository philipschoemig/BER-TLV: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc8

.pre-commit-config.yaml:

exclude: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
repos:
#  - repo: https://github.com/pre-commit/pre-commit-hooks
#    rev: v3.1.0
#    hooks:
#      - id: check-byte-order-marker
#      - id: check-case-conflict
#      - id: check-docstring-first
#      - id: check-json
#      - id: check-merge-conflict
#      - id: check-symlinks
#      - id: check-toml
#      - id: check-yaml
#      - id: detect-private-key

  - repo: local
    hooks:
      # based on pre-commit hook from https://github.com/timothycrosley/isort
      - id: isort
        name: isort
        entry: poetry run isort
        language: python
        types: [python]
        require_serial: true

      # based on pre-commit hook from https://github.com/psf/black
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: python
        language_version: python3
        types: [python]
        require_serial: true

      # based on pre-commit hook from https://gitlab.com/pycqa/flake8
      - id: flake8
        name: flake8
        description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
        entry: poetry run flake8
        language: python
        types: [python]
        require_serial: true

      # based on pre-commit hook from https://github.com/PyCQA/doc8
      - id: doc8
        name: doc8
        description: This hook runs doc8 for linting docs
        entry: poetry run doc8
        language: python
        files: \.rst$

      # based on pre-commit hook from https://github.com/PyCQA/pylint
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: python
        types: [python]
        require_serial: true
        stages: [manual]

      # based on pre-commit hook from https://github.com/PyCQA/bandit
      - id: bandit
        name: bandit
        description: 'Bandit is a tool for finding common security issues in Python code'
        entry: poetry run bandit
        language: python
        types: [python]
        stages: [manual]

add Benchmark (pytest) benchmark result for fee03efac321c508374e51e4c2869324bc65ba70
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for d2e6f05b054b8b43733ac44f0a82e1d2d21ad210
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 62ceb71b1ebcef618d0ba37ca6144acb2a207abc
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 27cfa013b42006ed016e4902a3a08a357c7c078b
  dev/bench/data.js
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

add Benchmark (pytest) benchmark result for 4ae8d21f34bd337375d45b42b679e4637c3703ec
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 4c4f5cadfa6933d32071cf84fa314fa8c048722b
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 2b2ca09f3a43269045b18e3fd22da8e429cfbb19
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 08e624f7f5bf1cfaf1b132a547cdba98e8dee489
  dev/bench/data.js
Due: none

Rework and simplify GitHub workflows
  .github/workflows/benchmark.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
Due: none

add Benchmark (pytest) benchmark result for b14356bb12f80a9df5ceac352d2649173d639d9d
  dev/bench/data.js
Due: none

Fix error in coverage.yml workflow
  .github/workflows/coverage.yml
Due: none

add Benchmark (pytest) benchmark result for ec31848f4f0db8d2d7863e5d7673c96bd9b14c37
  dev/bench/data.js
Due: none

Add XML tag to tree dump
  src/bertlv/tag.py
  src/bertlv/tree.py
  tests/conftest.py
  tests/test_main.py
  tests/test_parser.py
  tests/test_tag.py
  tests/test_tree.py
Due: isort, black, flake8

Update documentation
  docs/_autosummary/bertlv.tag.html
  docs/_modules/bertlv/tag.html
  docs/_modules/bertlv/tree.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: none

add Benchmark (pytest) benchmark result for f13fc4cd4aa9bd09580d4986689b7ecd9909dbcb
  dev/bench/data.js
Due: none

Bump version: 0.5.0 → 0.6.0
  .bumpversion.cfg
  pyproject.toml
  src/bertlv/__init__.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 3edb51e4918f5fbebe0c23cec2104e97d3b5591d
  dev/bench/data.js
Due: none

Add support for equal comparison with string in order to use "in" operator for children
  src/bertlv/tree.py
  tests/test_tree.py
Due: isort, black, flake8

Bump version: 0.6.0 → 0.7.0
  .bumpversion.cfg
  pyproject.toml
  src/bertlv/__init__.py
Due: isort, black, flake8

Update documentation
  docs/_autosummary/bertlv.config.html
  docs/_autosummary/bertlv.generator.html
  docs/_autosummary/bertlv.html
  docs/_autosummary/bertlv.parser.html
  docs/_autosummary/bertlv.stream.html
  docs/_autosummary/bertlv.tag.html
  docs/_autosummary/bertlv.tree.html
  docs/_modules/bertlv.html
  docs/_modules/bertlv/generator.html
  docs/_modules/bertlv/parser.html
  docs/_modules/bertlv/stream.html
  docs/_modules/bertlv/tag.html
  docs/_modules/bertlv/tree.html
  docs/_modules/index.html
  docs/_static/documentation_options.js
  docs/api.html
  docs/genindex.html
  docs/index.html
  docs/objects.inv
  docs/py-modindex.html
  docs/search.html
Due: none

add Benchmark (pytest) benchmark result for 23ec0f6393762cdb19781b11977622b933ab7250
  dev/bench/data.js
Due: none

Add utils for prettifying XML and add related config options
  src/bertlv/__init__.py
  src/bertlv/config.py
  src/bertlv/generator.py
  src/bertlv/utils.py
  tests/conftest.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 7a1f1eb4002cffc4982047ef0b2d1ca04fc98f93
  dev/bench/data.js
Due: none

Add "newl" to default dictionary to ignore typo warning
  .idea/dictionaries/Default.xml
Due: none

Activate Python compatibility inspection for the following versions: * 3.7 * 3.8 * 3.9 * 3.10
  .idea/inspectionProfiles/Default.xml
  tox.ini
Due: none

Update github actions workflow badges
  README.rst
Due: doc8

Activate Python compatibility inspection
  .idea/misc.xml
Due: none

Update BER-TLV.iml
  .idea/BER-TLV.iml
Due: none

Update documentation
  docs/_modules/bertlv.html
  docs/_modules/bertlv/generator.html
Due: none

Update sphinx documentation and use furo theme
  .github/workflows/documentation.yml
  docs/api.rst
  docs/conf.py
  docs/genindex.rst
  docs/index.rst
  docs/reference/bertlv.config.rst
  docs/reference/bertlv.generator.rst
  docs/reference/bertlv.mapper.rst
  docs/reference/bertlv.parser.rst
  docs/reference/bertlv.rst
  docs/reference/bertlv.stream.rst
  docs/reference/bertlv.tag.rst
  docs/reference/bertlv.tree.rst
  docs/reference/bertlv.utils.rst
  docs/reference/index.rst
  poetry.lock
  pyproject.toml
  tox.ini
Due: isort, black, flake8, doc8

add Benchmark (pytest) benchmark result for a47929e2a8dcb76f45a3ab7185bdb382cfab94c6
  dev/bench/data.js
Due: none
