Repository philipschoemig/BER-TLV: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc8

isort:
  name: isort
  entry: poetry run isort
  language: python
  require_serial: true

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: poetry run black
  language: python
  language_version: python3
  require_serial: true

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: python
  require_serial: true

doc8:
  name: doc8
  description: This hook runs doc8 for linting docs
  entry: poetry run doc8
  language: python

Add GitHub workflow for checks
  .github/workflows/checks.yml
Due: none

Update GitHub workflow for checks
  .github/workflows/checks.yml
Due: none

Update README.rst
  README.rst
Due: doc8

Update extras in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Move tool options to pyproject.toml
  .pylintrc
  pyproject.toml
  tox.ini
Due: none

Update poetry.lock file
  poetry.lock
Due: none

Use raw string for regexp
  tests/test_parser.py
Due: isort, black, flake8

Retrieve project name and version from bertlv module #1
  docs/conf.py
Due: isort, black, flake8

Reformat pyproject.toml
  pyproject.toml
Due: none

Use flakehell wrapper instead of flake8
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix issue with pylint multiprocessing and GitHub actions
  pyproject.toml
Due: none

Add unit tests for BufferedStream class
  src/bertlv/stream.py
  tests/test_stream.py
Due: isort, black, flake8

Fix whitespace removal for ASCII text. Close #2.
  src/bertlv/parser.py
  tests/test_parser.py
Due: isort, black, flake8

Add pytest-benchmark to extras for development and testing.
  poetry.lock
  pyproject.toml
Due: none

Improve speed and readability of methods is_eof and size in BufferedStream.
  src/bertlv/stream.py
  tests/test_stream.py
Due: isort, black, flake8

Move commonly used tree test data to module test_tree.
  tests/__init__.py
  tests/test_generator.py
  tests/test_init.py
  tests/test_parser.py
  tests/test_tree.py
Due: isort, black, flake8

Add isort to file watchers.
  .idea/watcherTasks.xml
Due: none

Move build-system section in pyproject.toml and update poetry.lock.
  poetry.lock
  pyproject.toml
Due: none

Improve error handling for tree builder: * Add unit tests for tree builder * Change string representation of TLV node
  src/bertlv/tree.py
  tests/test_tree.py
Due: isort, black, flake8

More refactoring for TreeBuilder: * Replace factory method create_node with class/callable TlvNode * Make instance variables non-public
  src/bertlv/tree.py
  tests/test_tree.py
Due: isort, black, flake8

Move pytest configuration to tox.ini and add default options. Caused by pytest-benchmark settings in pyproject.toml not being evaluated.
  pyproject.toml
  tox.ini
Due: none

Add isort to development extras and update poetry.lock.
  poetry.lock
  pyproject.toml
Due: none

Exclude folder .venv in PyCharm settings.
  .idea/BER-TLV.iml
Due: none

Increase test coverage and add some documentation.
  src/bertlv/generator.py
  src/bertlv/tag.py
  src/bertlv/tree.py
  tests/test_generator.py
  tests/test_tag.py
  tests/test_tree.py
Due: isort, black, flake8

Add basis extra used for Continuous Integration.
  poetry.lock
  pyproject.toml
Due: none

Use basis extra for Continuous Integration.
  .github/workflows/checks.yml
  .github/workflows/tests.yml
Due: none

Create separate test environment for benchmarking.
  tox.ini
Due: none

Add benchmark to GitHub workflow tests.
  .github/workflows/tests.yml
Due: none

remove files from master branch
  .bumpversion.cfg
  .github/workflows/checks.yml
  .github/workflows/tests.yml
  .gitignore
  .idea/.gitignore
  .idea/BER-TLV.iml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  .pre-commit-config.yaml
  LICENSE
  doc8.ini
  docs/api.rst
  docs/conf.py
  docs/index.rst
  poetry.lock
  poetry.toml
  pyproject.toml
  src/bertlv/__init__.py
  src/bertlv/__main__.py
  src/bertlv/config.py
  src/bertlv/generator.py
  src/bertlv/parser.py
  src/bertlv/stream.py
  src/bertlv/tag.py
  src/bertlv/tree.py
  tests/__init__.py
  tests/test_generator.py
  tests/test_init.py
  tests/test_parser.py
  tests/test_stream.py
  tests/test_tag.py
  tests/test_tree.py
  tox.ini
Due: isort, black, flake8, doc8

Fix benchmark usage error '--benchmark-compare-fail requires valid --benchmark-compare'.
  tox.ini
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

add Benchmark (pytest) benchmark result for 2a53b04d089fd5c33f977c75018692bfa90d6dc6
  dev/bench/data.js
  dev/bench/index.html
Due: none

Delete README.rst
  README.rst
Due: doc8

Set theme jekyll-theme-slate
  _config.yml
Due: none

Create index.md
  index.md
Due: none

Set theme jekyll-theme-modernist
  _config.yml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
  black: any of: \.py$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
  flake8: any of: \.py$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
  doc8: any of: \.rst$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
