Repository philipschoemig/BER-TLV: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc8

.pre-commit-config.yaml:

exclude: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
repos:
#  - repo: https://github.com/pre-commit/pre-commit-hooks
#    rev: v3.1.0
#    hooks:
#      - id: check-byte-order-marker
#      - id: check-case-conflict
#      - id: check-docstring-first
#      - id: check-json
#      - id: check-merge-conflict
#      - id: check-symlinks
#      - id: check-toml
#      - id: check-yaml
#      - id: detect-private-key

  - repo: local
    hooks:
      # based on pre-commit hook from https://github.com/timothycrosley/isort
      - id: isort
        name: isort
        entry: poetry run isort
        language: python
        types: [python]
        require_serial: true

      # based on pre-commit hook from https://github.com/psf/black
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: python
        language_version: python3
        types: [python]
        require_serial: true

      # based on pre-commit hook from https://gitlab.com/pycqa/flake8
      - id: flake8
        name: flake8
        description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
        entry: poetry run flake8
        language: python
        types: [python]
        require_serial: true

      # based on pre-commit hook from https://github.com/PyCQA/doc8
      - id: doc8
        name: doc8
        description: This hook runs doc8 for linting docs
        entry: poetry run doc8
        language: python
        files: \.rst$

      # based on pre-commit hook from https://github.com/PyCQA/pylint
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: python
        types: [python]
        require_serial: true
        stages: [manual]

      # based on pre-commit hook from https://github.com/PyCQA/bandit
      - id: bandit
        name: bandit
        description: 'Bandit is a tool for finding common security issues in Python code'
        entry: poetry run bandit
        language: python
        types: [python]
        stages: [manual]

Update index.md
  index.md
Due: none

Set theme jekyll-theme-minimal
  _config.yml
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

add Benchmark (pytest) benchmark result for b52acf485dd437b734c09acf18336b8f32e7619d
  dev/bench/data.js
Due: none

Update README.rst
  README.rst
Due: doc8

add Benchmark (pytest) benchmark result for 33c2f63d805c36fcd37cfa82ac9e5694615f647c
  dev/bench/data.js
Due: none

Add workflow for documentation.
  .github/workflows/docs.yml
Due: none

add Benchmark (pytest) benchmark result for 322a8f1105c195efcbd1256872b3973d1a563742
  dev/bench/data.js
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: none

add Benchmark (pytest) benchmark result for 0201309bb764a6e1015d171205f1ca38ae4dacf1
  dev/bench/data.js
Due: none

Comment not used paths for templates and html static files.
  docs/conf.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 5046b01100800db9b72ff38a200ed18a2b081e77
  dev/bench/data.js
Due: none

Create index.html
  docs/index.html
Due: none

Create .nojekyll
  docs/.nojekyll
Due: none

Create .nojekyll
  .nojekyll
Due: none

Remove docs/conf.py from bumpversion config. #1
  .bumpversion.cfg
Due: none

Bump version: 0.2.4 → 0.3.0
  .bumpversion.cfg
  pyproject.toml
  src/bertlv/__init__.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 5a26beadd695d11c46024847252d346f7a745adb
  dev/bench/data.js
Due: none

Update documentation
  docs/_autosummary/bertlv.config.html
  docs/_autosummary/bertlv.generator.html
  docs/_autosummary/bertlv.html
  docs/_autosummary/bertlv.parser.html
  docs/_autosummary/bertlv.stream.html
  docs/_autosummary/bertlv.tag.html
  docs/_autosummary/bertlv.tree.html
  docs/_modules/bertlv.html
  docs/_modules/bertlv/generator.html
  docs/_modules/bertlv/parser.html
  docs/_modules/bertlv/stream.html
  docs/_modules/bertlv/tag.html
  docs/_modules/bertlv/tree.html
  docs/_modules/index.html
  docs/_static/documentation_options.js
  docs/api.html
  docs/genindex.html
  docs/index.html
  docs/objects.inv
  docs/py-modindex.html
  docs/search.html
Due: none

Create issue_label_bot.yaml
  .github/issue_label_bot.yaml
Due: none

add Benchmark (pytest) benchmark result for 1e61462af00a21123653a29f421db78cc66510ca
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 72ad5ddb3ccbf3aa172cccd155da2e127fe38758
  dev/bench/data.js
Due: none

Update documentation
  docs/_modules/bertlv/parser.html
Due: none

Add unit tests for module __main__
  tests/test_main.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 8e4a5303591b4a4b23fe22cfd282cd5b1c9fb7b5
  dev/bench/data.js
Due: none

Set sphinx working directory in Python Integrated Tools section of PyCharm settings
  .idea/BER-TLV.iml
Due: none

Add default project dictionary
  .idea/dictionaries/Default.xml
Due: none

Use ASN.1 type "SEQUENCE" for root tag
  src/bertlv/tag.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 47f9911f31d23239433aa8bde1e87c77126f5f3a
  dev/bench/data.js
Due: none

Create project inspection settings and add pytest to ignored packages for PyPackageRequirementsInspection
  .idea/inspectionProfiles/Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
Due: none

Create pytest fixtures for TLV test data
  tests/conftest.py
  tests/test_generator.py
  tests/test_init.py
  tests/test_main.py
  tests/test_parser.py
  tests/test_tree.py
Due: isort, black, flake8

Update documentation
  docs/_modules/bertlv/tag.html
Due: none

add Benchmark (pytest) benchmark result for c4d1aaaf41cf5901a40f6bdc0f45d05f3d1d5189
  dev/bench/data.js
Due: none

Refactor handling of input and output formats in main method
  src/bertlv/__main__.py
  tests/test_main.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for cdfae759c68e985a2e9c25e6fba79fe75855a11e
  dev/bench/data.js
Due: none

Add package-level function to generate text dump * Clean up format maps in main module * Add test fixtures for binary, text and xml files
  src/bertlv/__init__.py
  src/bertlv/__main__.py
  tests/conftest.py
  tests/test_generator.py
  tests/test_init.py
  tests/test_main.py
  tests/test_parser.py
Due: isort, black, flake8

Update documentation
  docs/_autosummary/bertlv.generator.html
  docs/_autosummary/bertlv.html
  docs/_autosummary/bertlv.parser.html
  docs/_autosummary/bertlv.stream.html
  docs/_autosummary/bertlv.tag.html
  docs/_autosummary/bertlv.tree.html
  docs/_modules/bertlv.html
  docs/_sources/_autosummary/bertlv.rst.txt
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: none

add Benchmark (pytest) benchmark result for ec195433d48883485cf1efa2b0dd3f79b78988a3
  dev/bench/data.js
Due: none

Refresh poetry.lock file with poetry version 1.1.3
  poetry.lock
Due: none
