Repository philipschoemig/BER-TLV: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc8

isort:
  name: isort
  entry: poetry run isort
  language: python
  require_serial: true

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: poetry run black
  language: python
  language_version: python3
  require_serial: true

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: python
  require_serial: true

doc8:
  name: doc8
  description: This hook runs doc8 for linting docs
  entry: poetry run doc8
  language: python

Remove bump2version dependency and instead use poetry version command. Close #1
  .bumpversion.cfg
  poetry.lock
  pyproject.toml
  src/bertlv/__init__.py
Due: isort, black, flake8

Update documentation
  docs/_modules/bertlv.html
Due: none

add Benchmark (pytest) benchmark result for bba22c9fe594485a3340972b11c3813029c1f736
  dev/bench/data.js
Due: none

Update minimum supported Python version to 3.7
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

add Benchmark (pytest) benchmark result for cc4ebe82f3a848dad67e0719d9052f3b415f33dc
  dev/bench/data.js
Due: none

Bump version: 0.3.0 → 0.4.0
  pyproject.toml
Due: none

Update documentation
  docs/_autosummary/bertlv.config.html
  docs/_autosummary/bertlv.generator.html
  docs/_autosummary/bertlv.html
  docs/_autosummary/bertlv.parser.html
  docs/_autosummary/bertlv.stream.html
  docs/_autosummary/bertlv.tag.html
  docs/_autosummary/bertlv.tree.html
  docs/_modules/bertlv.html
  docs/_modules/bertlv/generator.html
  docs/_modules/bertlv/parser.html
  docs/_modules/bertlv/stream.html
  docs/_modules/bertlv/tag.html
  docs/_modules/bertlv/tree.html
  docs/_modules/index.html
  docs/_static/documentation_options.js
  docs/api.html
  docs/genindex.html
  docs/index.html
  docs/objects.inv
  docs/py-modindex.html
  docs/search.html
Due: none

add Benchmark (pytest) benchmark result for ebf40e1d33fbc0d28bcab9089c578bbfda7aea3b
  dev/bench/data.js
Due: none

Revert "Remove bump2version dependency and instead use poetry version command. Close #1"
  .bumpversion.cfg
  poetry.lock
  pyproject.toml
  src/bertlv/__init__.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 6a0b60f0501e72b6aeef3630a8eb11533f8765af
  dev/bench/data.js
Due: none

Update poetry.lock
  poetry.lock
Due: none

add Benchmark (pytest) benchmark result for 54e64e3c4e83f732661bc672bf6dbe57d9247dab
  dev/bench/data.js
Due: none

Update checks workflow to latest action versions
  .github/workflows/checks.yml
Due: none

add Benchmark (pytest) benchmark result for 484ad1c4be82e50583ebfe6df61b35a54933276d
  dev/bench/data.js
Due: none

Update tests workflow to latest action versions
  .github/workflows/tests.yml
Due: none

add Benchmark (pytest) benchmark result for ab4bc6791a83d0c6819ce604b512229905416c05
  dev/bench/data.js
Due: none

Update tests workflow
  .github/workflows/tests.yml
Due: none

Fixed error in tests workflow
  .github/workflows/tests.yml
Due: none

add Benchmark (pytest) benchmark result for 955e7855fe0d6a6d878f989bcca3d56988ce71b9
  dev/bench/data.js
Due: none

Add initial mapper class and corresponding unit test
  src/bertlv/mapper.py
  tests/test_mapper.py
Due: isort, black, flake8

Update README.rst
  README.rst
Due: doc8

add Benchmark (pytest) benchmark result for b92c6234d0fedc98c826e8c99a041c2cccac8ea7
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 6f8cee02e1efba3cda82faf064119bdce3e5760a
  dev/bench/data.js
Due: none

Implement XML mapping and add unit tests
  src/bertlv/mapper.py
  tests/conftest.py
  tests/test_mapper.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for ca3c402d7dab0523bcd92dcfbe23b43b7cd49a6c
  dev/bench/data.js
Due: none

Add separate methods to mapping and mapper for input and output data
  src/bertlv/mapper.py
  tests/test_mapper.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 8c922c2cd1caf1f0c86e231fcf852d507dd9cd6f
  dev/bench/data.js
Due: none

Update docs workflow to latest action versions
  .github/workflows/docs.yml
Due: none

Update documentation
  docs/index.html
  docs/searchindex.js
Due: none

add Benchmark (pytest) benchmark result for 6fd96253d1b04ba8398ab2098540fad74fb76f9f
  dev/bench/data.js
Due: none

Fix message string for InsufficientDataError
  src/bertlv/parser.py
  tests/test_parser.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 3d6fa6dd9839d66b0e040ac209d528fa51186432
  dev/bench/data.js
Due: none

Integrate mapper module: * Convert Mapper class in module functions * Call mapper in generator, parser and tag modules * Add command line parameter for passing mapping files * Add unit-tests
  src/bertlv/__main__.py
  src/bertlv/generator.py
  src/bertlv/mapper.py
  src/bertlv/parser.py
  src/bertlv/tag.py
  tests/conftest.py
  tests/test_generator.py
  tests/test_mapper.py
  tests/test_parser.py
Due: isort, black, flake8

add Benchmark (pytest) benchmark result for 0ae84927854b8ed1a16e255fe9bdf5c3d2ff6ec4
  dev/bench/data.js
Due: none

Update documentation
  docs/_modules/bertlv/generator.html
  docs/_modules/bertlv/parser.html
  docs/_modules/bertlv/tag.html
Due: none

add Benchmark (pytest) benchmark result for 45cf2a863f3e68e45fa59965ba6b72d7e9cf7a6d
  dev/bench/data.js
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
  black: any of: \.py$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
  flake8: any of: \.py$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
  doc8: any of: \.rst$, but not: ^(\.eggs|\.git|\.hg|\.idea|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist)/
